@import "c/leaderboardStyles";

:host {
  display: table-row;
  cursor: pointer;
}

:host:hover {
  background-color: var(--elements-second);
}

:host > td:first-child {
  padding-left: 1.5rem;
}

:host > td:last-child {
  padding-right: 1.5rem;
}

.adjust-icon {
  vertical-align: top;
  margin-top: 1px;
}

.avatar-table {
  width: 4rem;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media (prefers-color-scheme: dark) {
  :host {
    background-color: var(--elements-main-dark);
  }

  :host:hover {
    background-color: var(--elements-third-dark);
  }

  td {
    border-top: solid 1px var(--elements-second-dark) !important;
  }
}
