@import "c/leaderboardStyles";

.adjust-icon {
  vertical-align: top;
  margin-top: 1px;
}

.mobile-avatar {
  margin-right: 1.5rem;
  width: 105px;
  height: 100%;
  margin-top: -55px;
  border: solid 3px white;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mobile-avatar-rank {
  position: absolute;
  top: 50px;
  left: 85px;
}

.profile-card {
  border-width: 8px 0 0 0;
  border-top-style: solid !important;
  border-top-color: var(--text-primary) !important;
}

@media (prefers-color-scheme: dark) {
  .mobile-avatar {
    border-color: var(--elements-second-dark);
    background-color: var(--elements-second-dark);
  }

  .profile-icon {
    --sds-c-icon-color-foreground: red !important;
  }
}
