@import "c/leaderboardStyles";

.container {
  max-width: 1400px;
  margin: auto;
}

.click-hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1);
  }

  .leaderboard-table {
    border-top: solid 1px var(--elements-second-dark);
    border-bottom: solid 1px var(--elements-second-dark);
  }

  .leaderboard-table th {
    color: var(--text-primary-dark);
    background-color: var(--elements-main-dark);
  }
}
